<%- include('../partials/header.ejs') %> 


<%- include('../partials/nav.ejs') %>


<div class=" d-flex h-100 justify-content-center">


    <div class="container-profile">

        <div class="container-fluid profile-phb" style="height:16rem">

                <div class="profile-picture" >
                    <img src= "<%= currentUser.img %>" class="img-profile img-thumbnail" alt="img-profile">
                </div>
                <div class="profile-header">
                    <div class="d-flex mb-3">
                        <div class="me-3" ><h3><%= currentUser.username %></h3></div>
                        <div class="me-3"><a class="btn px-2 py-1" style="border: 1px solid lightgrey;" href="/<%= currentUser._id %>/edit"><b> Edit Profile</b> </a></div>
                    </div>
                    <div class="row">
                        <div class="col-3"><p class="d-flex flex-column flex-sm-row"> <b class="mx-1"><%= currentUser.posts.length %> </b> Posts</p></div>
                        <div class="col-3"><p class="d-flex flex-column flex-sm-row"> <b class="mx-1"><%= currentUser.followers %> </b> followers</p></div>
                        <div class="col-3"><p class="d-flex flex-column flex-sm-row"> <b class="mx-1"> <%= currentUser.following %> </b> following</p></div>
                    </div>
                </div>
                <div class="profile-bio"">
                    <b>
                        <%= currentUser.fullname%>
                    </b>
                    <div>
                        <%= currentUser.description%>
                    </div>

                </div>

        </div>



        <div class="" style="height:auto; border-top: 1px solid lightgrey;">
            <div class="d-flex justify-content-center">
            <div class="pt-3"style="border-top: 1px solid black ;" > 
                <span class="mx-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3" viewBox="0 0 16 16">
                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13zM1.5 1a.5.5 0 0 0-.5.5V5h4V1H1.5zM5 6H1v4h4V6zm1 4h4V6H6v4zm-1 1H1v3.5a.5.5 0 0 0 .5.5H5v-4zm1 0v4h4v-4H6zm5 0v4h3.5a.5.5 0 0 0 .5-.5V11h-4zm0-1h4V6h-4v4zm0-5h4V1.5a.5.5 0 0 0-.5-.5H11v4zm-1 0V1H6v4h4z"/>
              </svg> </span>
              <span style="font-size: .85rem; font-weight: 600;"> POSTS</span>
            </div>
        </div>
            <div style="height:100%" >
                <div class="d-flex flex-wrap">

                    <% for(let i = 0; i < Posts.length; i++ ){ %>
                    <div class="col-4 "><a href="/post/<%=Posts[i].id %>"><div class="postDiv"><img src="<%= Posts[i].img %>" style="height: 100%; width: 100%;" alt="sky"></div></a></div>
                    <%}%>

                    <div class="col-4 ">
                        <div class="postDiv ">
                            <a href="/post/new" class="h-100 w-100 d-flex align-items-center" style="background-color: lightgray;">
                             <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-plus-circle rounded mx-auto d-block" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>
                            </a> 
                    </div>
                </div>

                </div> 
            </div>
        </div>


    </div>

</div>


<%- include('../partials/footer.ejs') %>


